{% extends 'base.html.twig' %}

{% block title %}
	Mes addresse - Shop Grocery
{% endblock %}

{% block content %}
<button class ="btn btn-primary float-right mt-5">
<i class="fa-solid fa-plus"></i>
<a href="{{path('account_address_add')}}" class="link text-white"> Adresse</a>
</button>
 <h1 class="text-secondary">
 Mes Adresses de livraisons
</h1>
<p class="text-info">
c'est dans cet espace que vous allez pouvoir gérer toute vos adresses
</p>
{% if app.user.addresses | length == 0 %}

	<p class = "alert alert-warning ">
	Vous n'avez pas encore ajouté d'adresse dans votre compte client. 
	 Pour en ajouter une , veuillez <a href="{{path('account_address_add')}}">cliquez ici</a>
	</p> 
	


{% endif %}
<p class ="mt-5">
<a class="link text-success" href="{{path('account')}}">retour</a>
 
</p>
<hr>


{% endblock %}
