{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une adresse  - Shop Grocery
{% endblock %}

{% block content %}

<h1 xlass="text-secondary">Ajouter Une Adresse</h1>
<hr>
<p class ="mt-5">
<a class="link text-success" href="{{path('account')}}">retour</a>
 
</p>


{{form(form)}}
{% endblock %}
