{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe Shop-Grocery{% endblock %}

{% block content %}
<h1 class = "text-info text-capitalize">Modification du mot de passe  : </h1>

<a href="{{path('account')}}">revenir sur mon compte</a>
 
 {{form(form)}}


<hr>

</hr>

{% endblock %}