{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <h1 class='text-center'>Sign up</h1>
    <div class="  d-flex justify-content-center">
    
     {{form(form)}}
    
    </div>
    {# formulaire d'inscription #}
{% endblock %}
